<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Daterange picker example</title>

    <!-- bower:css -->
    <link rel="stylesheet" href="lib/bootstrap-daterangepicker/daterangepicker.css" />
    <!-- endbower -->

    <style type="text/css">

        .form-group {
            display: flex;
            padding-bottom: 5px;
            margin-bottom: 20px;
            border-bottom: 1px solid lightblue;
        }
        .form-group > label {
            flex: 0 0 30%;
            display: inline-block;
            padding-right: 10px;
            cursor: pointer;
        }
        .form-group div label {
            display: block;
            font-size: smaller;
        }
        form input, form button {
            padding: 10px;
            border-radius: 5px;
            width: calc(100% - 40px);
            max-width: 300px;
            margin: 0;
        }
        button:not(:disabled) {
            cursor: pointer;
        }
        .has-error input {
            color: red;
            border-color: red;
        }

        .daterangepicker.fancy-border {
            border: 2px solid rebeccapurple;
            box-shadow: 0 4px 15px 0px #888888;
        }
        .daterangepicker.fancy-border:before {
            border-bottom: 5px solid rebeccapurple;
        }
        .help-block p {
            margin: 0 0 10px 0;
            padding: 0;
            font-size: smaller;
            color: red;
        }
    </style>

</head>

<body>
    <!-- bower:js -->
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-messages/angular-messages.js"></script>
    <script src="lib/moment/moment.js"></script>
    <script src="lib/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- endbower -->

    <script src="js/angular-daterangepicker.js"></script>

<div class="container">
    <h1>Daterange picker example</h1>

        <div ng-controller="TestCtrl">
            <form name="dateForm" class="form-horizontal">
                <div class="form-group" ng-class="{'has-error': dateForm.dateSimple.$invalid}">
                    <label for="dateSimple" class="control-label">Simple picker</label>
                    <div>
                        <input date-range-picker id="dateSimple" name="dateSimple" class="form-control date-picker" type="text"
                               ng-model="date"
                               ng-model-options="{ allowInvalid: true }"
                               ng-required="page.required"/>
                        <div class="help-block" ng-messages="dateForm.dateSimple.$error">
                            <p ng-message="invalid">Invalid date.</p>
                            <p ng-message="required">Range is required.</p>
                        </div>
                        <div><label>date:</label> {{date}}</div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': dateForm.drpMinMax.$invalid}">
                    <label for="daterange2" class="control-label">Picker with min and max date</label>
                    <div>
                        <input date-range-picker id="daterange2" name="drpMinMax" class="form-control date-picker" type="text"
                               ng-model="dateMinMax"
                               ng-model-options="{ allowInvalid: true }"
                               picker="page.pickerMinMax"
                               min="'2018-12-20'" max="'2018-12-30'"
                               required/>
                        <div class="help-block" ng-messages="dateForm.drpMinMax.$error">
                            <p ng-message="min">Start date must be at least {{page.pickerMinMax.minDate}}.</p>
                            <p ng-message="max">End date must be at most {{page.pickerMinMax.maxDate}}.</p>
                            <p ng-message="invalid">Invalid date.</p>
                            <p ng-message="required">Range is required.</p>
                        </div>
                        <div><label>dateMinMax:</label> {{dateMinMax}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="daterange3" class="control-label">Picker with custom locale & extra picker class</label>
                    <div>
                        <input date-range-picker id="daterange3" name="daterange3" class="form-control date-picker" type="text"
                               ng-model="date2"
                               options="opts" required/>
                        <div><label>date2:</label> {{date2}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="daterange4" class="control-label">Clearable picker</label>
                    <div>
                        <input date-range-picker id="daterange4" name="daterange4" class="form-control date-picker" type="text"
                               ng-model="date2"
                               clearable="true" required/>
                        <div><label>date2:</label> {{date2}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="daterangeA" class="control-label">Unlinked calendars w/validation</label>
                    <div>
                        <input date-range-picker id="daterangeA" name="daterangeUnlinked" class="form-control date-picker" type="text"
                               ng-model="date2"
                               options="optsUnlinked" required/>
                        <div class="help-block" ng-messages="dateForm.daterangeUnlinked.$error">
                            <p ng-message="min">Start date must be at least {{optsUnlinked.minDate}}.</p>
                            <p ng-message="max">End date must be at most {{optsUnlinked.maxDate}}.</p>
                            <p ng-message="required">Range is required.</p>
                        </div>
                        <div><label>date2:</label> {{date2}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn" ng-click="setStartDate()">Set Start Date2</button>
                    <button type="button" class="btn" ng-click="setRange()">Set Range Date2</button>
                </div>
                <div class="form-group">
                    <label for="dateSingle" class="control-label">Single picker w/validation</label>
                    <div>
                        <input date-range-picker id="dateSingle" name="dateSingle" class="form-control date-picker" type="text"
                               ng-model="dateSingle"
                               ng-model-options="{ allowInvalid: true }"
                               options="optsSingle" required/>
                        <div class="help-block" ng-messages="dateForm.dateSingle.$error">
                            <p ng-message="min">To low. Date must be between {{optsSingle.minDate}} && {{optsSingle.maxDate}}.</p>
                            <p ng-message="max">To high. Date must be between {{optsSingle.minDate}} && {{optsSingle.maxDate}}.</p>
                            <p ng-message="required">Range is required.</p>
                            <p ng-message="invalid">Date is invalid.</p>
                        </div>
                        <div><label>dateSingle:</label> {{dateSingle}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dateFormatted" class="control-label">Picker with custom format & apply when clicking out of calendar</label>
                    <div>
                        <input date-range-picker id="dateFormatted" name="dateFormatted" class="form-control date-picker" type="text"
                               ng-model="dateFormatted" options="{cancelOnOutsideClick: false, locale: {format: 'MMMM D, YYYY'}}" required/>
                        <div><label>dateFormatted:</label> {{dateFormatted}}</div>
                    </div>
                </div>
            </form>
        </div>
</div>
</body>


<script>
exampleApp = angular.module('example', ['ngMessages', 'daterangepicker']);
exampleApp.controller('TestCtrl', function($scope) {
    $scope.page = { required: true};

    $scope.date = {
        startDate: moment().subtract(1, "days"),
        endDate: moment()
    };
    $scope.date2 = {
        startDate: moment().subtract(1, "days"),
        endDate: moment()
    };
    $scope.dateMinMax = {
        startDate: moment().subtract(1, "days"),
        endDate: moment()
    };
    $scope.dateSingle = moment();

    $scope.opts = {
        pickerClasses: 'fancy-border',
        locale: {
            applyClass: 'btn-green',
            applyLabel: "Použít",
            fromLabel: "Od",
            toLabel: "Do",
            cancelLabel: 'Zrušit',
            customRangeLabel: 'Vlastní rozsah',
            daysOfWeek: ['Ne', 'Po', 'Út', 'St', 'Čt', 'Pá', 'So'],
            firstDay: 1,
            monthNames: ['Leden', 'Únor', 'Březen', 'Duben', 'Květen', 'Červen', 'Červenec', 'Srpen', 'Září',
                'Říjen', 'Listopad', 'Prosinec'
            ]
        },
        ranges: {
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()]
        }
    };
    $scope.optsUnlinked = {
        minDate: moment().startOf('day').subtract(4, 'months'),
        maxDate: moment().endOf('day').add(2, 'months'),
        linkedCalendars: false
    };
    $scope.optsSingle = {
        singleDatePicker: true,
        minDate: moment().startOf('day').subtract(4, 'months'),
        maxDate: moment().endOf('day').add(2, 'months'),
        ranges: $scope.opts.ranges
    };

    $scope.setStartDate = function () {
        $scope.date2.startDate = moment().subtract(4, "days");
    };

    $scope.setRange = function () {
        $scope.date2 = {
            startDate: moment().subtract(5, "days"),
            endDate: moment().add(1, "days")
        };
    };

    $scope.modelOptions = {
        // updateOn: ""
    };

    //Watch for date changes
    $scope.$watch('date', function(newDate) {
        console.log('New date set: ', newDate);
    }, false);

});

angular.bootstrap(document, ['example']);</script>

</html>
